<div ng-controller="labController">
  <div><br><br><br></div>
  <button ng-click="addLab()" type="submit">Add Lab</button>
    <div>
      
      <div>
        <input type="text" name="id" ng-model="Lab.id" id="id">
        <label for="id">ID</label>        
      </div>  
          
      <div>
        <input type="text" name="name" ng-model="Lab.name" id="name">
        <label for="name">NAME</label>        
      </div> 
       
      <div>
        <input type="text" name="descripcion" ng-model="Lab.descripcion" id="descripcion">
        <label for="descripcion">DESC</label>        
      </div>  
      
      <div>
        <input type="text" name="ubicacion" ng-model="Lab.ubicacion" id="ubicacion">
        <label for="ubicacion">UBICACION</label>        
      </div>  
      
      <div>
        <input type="text" name="capacidad" ng-model="Lab.capacidad" id="capacidad">
        <label for="capacidad">CAPACIDAD</label>        
      </div>      
            
    </div>
    <div><br><br></div>
    <div>
      <div>
        <button type="submit" ng-click="GetLabs()">Get Labs</button>
      </div>
      <div><br><br></div>
      
    <div>
      <table>
        <tr>
          <th>
            ID
          </th>
          <th>
            NAME
          </th>
          <th>
            DESC
          </th>
          <th>
            CABACIDAD
          </th>
          <th>
            UBICACION
          </th>
        </tr>
        <tr ng-repeat="lab in labs">
          <td>
            {{lab.id}}
          </td>
          <td>
            {{lab.name}}
          </td>
          <td>
            {{lab.desc}}
          </td>
          <td>
            {{lab.cabacidad}}
          </td>
          <td>
            {{lab.ubicacion}}
          </td>
        </tr>
      </table>
    </div>
    <div><br><br><br>   
</div>
